body {
  font: 1.2em / 1.5 sans-serif;
}
nav{
  & ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex; /*tora a caixa flexivel*/
  flex-direction: column; /*muda a dirção dos itens*/
  justify-content:center; /*alinha horizontamente*/
  align-items: center; /* alinha verticalmente*/
  flex-wrap:wrap; /*permite pular linha*/
  align-content: flex-end; /*alinhaverticamente as linhas apos o wrap */
  }
  

  & a:link,
  & a:visited {
    background-color: #4d7298;
    border: 2px solid #77a6b6;
    border-radius: 0.5em;
    color: #fff;
    padding: 0.5em;
    display: inline-block;
    text-decoration: none;
  }
}

ul > * {
  flex-shrink:1; /*determina como os itens vao encolher */
  flex-grow: 1;
  flex-basis: 100px; /*tamanho inicial*/
  flex: 1;
}

ul li: last-child{
  align-self 
}